@import "tailwindcss";

@plugin "daisyui" {
  themes: ewucsc, light;
}

@plugin "daisyui/theme" {
  name: "ewucsc";
  default: true;
  prefersdark: true;

  --color-primary: #2563eb;
  --color-primary-content: #ffffff;

  --color-secondary: #06b6d4;
  --color-secondary-content: #022c22;

  --color-accent: #22c55e;
  --color-accent-content: #022c22;

  --color-neutral: #0f172a;
  --color-neutral-content: #f1f5f9;

  --color-base-100: #020617;
  --color-base-200: #0f172a;
  --color-base-300: #1e293b;
  --color-base-content: #f1f5f9;   /* Light text for Dark mode */


  --color-info: #38bdf8;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --radius-box: 1rem;
  --radius-field: 0.75rem;
  --radius-selector: 0.5rem;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-base-content: #1e293b; /* Dark text for Light mode */
}

/* Notification Dot */

.notification-dot {
  @apply absolute top-0 right-0 h-2.5 w-2.5 rounded-full bg-error;
}

.notification-ping {
  @apply absolute inline-flex h-full w-full rounded-full bg-error opacity-75 animate-ping;
}

.nav-indicator {
  @apply bg-error; /* Default Red */
}

[data-theme='ewucsc'] .nav-indicator {
  background-color: #facc15 !important; /* Cyber Yellow in Dark Mode */
  box-shadow: 0 0 10px #facc15;
}

/* When EWU dark theme active */

[data-theme="ewucsc"] .notification-dot {
  background-color: white;
  box-shadow: 0 0 10px rgba(255,255,255,0.9);
}

[data-theme="ewucsc"] .notification-ping {
  background-color: white;
}

/* For Smooth transition when colors change */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  min-height: 100vh;
  /* radial gradient */
  background: radial-gradient(circle at 20% 20%, rgba(37, 99, 235, 0.15), transparent 40%),
    radial-gradient(circle at 80% 80%, rgba(6, 182, 212, 0.15), transparent 40%),
    var(--color-base-100);
}